@import './reset.less';
@import './animate.less';
// component
.App {
	&-content {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 1rem;
		left: 0;
		background-color: #fff;
		overflow: auto;
	}

}
.GlobalNav {
	height: 30px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	margin-bottom: 20px;
	.flex();
	.flex-align-center();
	li {
		.flex-1();
		height: 100%;
		list-style:none;

		a { 
			display: block; 
			height: 100%; 
			text-align: center; 
			line-height: 30px; 
			font-size: 14px;
		}
		
	}

	&-active {
		background-color: #ccc;
		color:#fff;
	}
}
